{% extends 'AcmeInsecteBundle::layout.html.twig' %}
{% block content %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="profil">Home</a></li>
                    <li><a href="insectes">Adherents</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="myProfil"><span class="glyphicon glyphicon-user"></span> Mon profile</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Deconnexion</a></li>

                </ul>
            </div>
        </div>
    </nav>



    <div class="container text-center" style="margin-bottom: 20px">
   <h1>Modification de Profil</h1>
        <form class="login-form" {{ form_start(form) }}

        {{ form_errors(form) }}

        <td>{{ form_errors(form.username) }}</td>

        <td>{{ form_widget(form.username, {'attr': {'placeholder': 'Username','label':'Username'}}) }}</td>
        <br />
        <td>{{ form_errors(form.email) }}</td>

        <td>{{ form_widget(form.email, {'attr': {'placeholder': 'Email','label':'Email'}}) }}</td>
        <br />
        <td>{{ form_errors(form.age) }}</td>

        <td>{{ form_widget(form.age, {'attr': {'placeholder': 'Age','label':'Email'}}) }}</td>
        <br />

        <td>{{ form_errors(form.race) }}</td>

        <td>{{ form_widget(form.race, {'attr': {'placeholder': 'Race','label':'Email'}}) }}</td>
        <br />

        <td>{{ form_errors(form.nourriture) }}</td>

        <td>{{ form_widget(form.nourriture, {'attr': {'placeholder': 'Nourriture','label':'Email'}}) }}</td>
        <br />



        {{ form_end(form) }}



        </form>
    </div>

{% endblock %}
