{% extends 'AcmeInsecteBundle::layout.html.twig' %}
{% block content %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="profil">Home</a></li>
                <li><a href="insectes">Adherents</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="myprofil"><span class="glyphicon glyphicon-user"></span> Mon profile</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Deconnexion</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container text-center">
    <div class="jumbotron" style="margin-top: 140px;width: 1200px" >
        <h1>Bienvenue Mr {{ insectes.username }} dans My-Insect </h1>
        <p>Cher Insecte , vous etes ici considéré comme etant chez vous . Ici c'est le Facebook des moustiques, le Twitter des cafards, et le Linked In des sauterelles .</p>
    </div>
</div>

    <div class="container" style="margin-bottom: 20px">
       <center> <h3 > Quelques adherents</h3></center>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{ asset('public/img/insecte2.jpg') }}" alt="Los Angeles" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{{ asset('public/img/insecte3.jpg') }}" alt="Chicago" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{{ asset('public/img/insecte.jpg') }}" alt="New york" style="width:100%;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>
{% endblock %}
